<footer class="section-footer border-top">
    <div class="container">
        <section class="footer-bottom border-top row">
            <div class="col-md-12 mx-auto">
                <p class="text-muted text-center" style="margin-top: 0;">
                <p class="text-center">DjangoKart built with <i class="fa fa-heart" style="color:#ff0000";></i> by <a
                        href="https://github.com/udaykiranreddyvangala/djangokart" target="_blank">Vangala Uday Kiran
                        Reddy</a></p>
                
                </p>
            </div>
            
    </div><!-- //container -->
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	$(document).ready(function(){
		$('.thumb a').click(function(e){
			e.preventDefault();
			$('.mainImage img').attr('src', $(this).attr("href"));
		})
	})
</script>